{% extends "base.html.twig" %}
{% block title %}{{ usuario.nombre }} {{ usuario.apellidos }}{% endblock %}

{% block content %}
    <div id="datosUsuario">
        {% embed "usuario/datos.html.twig" %}
        {% endembed %}
    </div>
    <div id="preferenciasUsuario">
        {% embed "usuario/preferencias.html.twig" with {'preferencias': usuario.preferencias} %}
        {% endembed %}
    </div>
    <div id="objetosUsuario">
        {% embed "usuario/objetos.html.twig" with {'objetos': usuario.objetos} %}
        {% endembed %}
    </div>
{% endblock %}