{% extends "base.html.twig" %}
{% block title %}{{ usuario.nombre }} {{ usuario.apellidos }}{% endblock %}

{% block content %}
    <div id="datosUsuario">
        {% embed "usuario/datos.html.twig" %}
        {% endembed %}
    </div>
    <div id="preferenciasUsuario">
        {% embed "usuario/preferencias.html.twig" with {'preferencias': usuario.preferencias} %}
        {% endembed %}
    </div>
    <div id="objetosUsuario">
        {% embed "usuario/objetos.html.twig" with {'usuario': usuario, 'objetos': objetos, 'paginas': paginas, 'total': totalItems, 'pagina': pagina} %}
        {% endembed %}
    </div>
{% endblock %}