table {
    width: 100%;
    text-align: center;
}

.dataTables_wrapper {
    width: 100%;
}

table thead tr {
    background-color: #4e73df;
    color: white;
}

table .btn {
    width: 30px;
    height: 30px;
}

td.clickable {
    cursor: pointer;
}