<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Estadísticas</h1>
    </div>
    <div class="row">
        <div class="cardCompleta shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Estadísticas Objetos</h6>
            </div>
            <div class="card-body d-flex">
                <canvas id="myChartObjetosDia" class="col-5" style="width:100%;max-width:600px"></canvas>
                <canvas id="myChartObjetosSemana" class="col-5" style="width:100%;max-width:600px"></canvas>
            </div>
        </div>
        <div class="cardCompleta shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Estadísticas Reservas</h6>
            </div>
            <div class="card-body d-flex">
                <canvas id="myChartReservasDia" class="col-5" style="width:100%;max-width:600px"></canvas>
                <canvas id="myChartReservasSemana" class="col-5" style="width:100%;max-width:600px"></canvas>
            </div>
        </div>
        <div class="cardCompleta shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Estadísticas Intercambios</h6>
            </div>
            <div class="card-body d-flex">
                <canvas id="myChartIntercambiosDia" class="col-5" style="width:100%;max-width:600px"></canvas>
                <canvas id="myChartIntercambiosSemana" class="col-5" style="width:100%;max-width:600px"></canvas>
            </div>
        </div>
    </div>
</div>
