<p>Hola {{ usuario }},</p>

<p>El objeto {{ objeto }} ha sido creado correctamente. Nuestro equipo se encargará de revisar tu objeto y activarlo.
    Cuando esté listo para usarse te llegará un correo de aviso</p>

<p>¡Muchas gracias por publicar en Truequeweb!</p>