<p>Hola {{ usuario }},</p>

<p>Bienvenido a TruequeWeb. Nuestro equipo se encargará de revisar tu cuenta y activarla. Cuando esté lista para usarse
te llegará un correo de aviso</p>

<p>¡Esperamos verte pronto!</p>